body{
    background-color: black;
    color: white;
}
#header {
    display: flex;
}
h1 {display: inline-block;margin-right: 60%;margin-left: 5%;}
#pageSelection {
    align-self: center;
    display: inline-block;
}
#favPageHeadline {
    text-align: center;
}
#emptyMessage{
    display: block;
    text-align: center;
}
#emptyMessage.hide {
    display: none;
}
.showCelcius, .showFehrenheit {
display: none;
}
.showCelcius.active, .showFehrenheit.active {
display: inline;
}
#row1 {
position: relative;
}
img {
    width: 20px;
}
#header {
    display: flex;
}
#favGallery {
    width: 75%;
    margin: auto;

}
.gallrey-item {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 15px 20px 25px 20px;
    border: 1px solid black;
    position: relative;
}

.gallrey-item p.cityName,.gallrey-item p.type{
    text-align: center;
}
.gallrey-item p.cityName{
    font-size: 25px;
}
.gallrey-item p.type {
    font-size: 17px;
    float: left;
    margin-left: 15px;
    margin-top: 40px;
}
.gallrey-item div.favIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.gallrey-item div.tempContainer{
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 25px;
}
.gallrey-item p.temp{
    display: inline-block;
}

