.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
#footer {height: 90px;}
body {margin: 0;}
body.sunny {background-image: url(Assests/Backgrounds/SunnyBackground.jpg);}
h1 {display: inline-block;margin-left: 5%;}
#pageSelection {margin-left: auto;margin-right: 5%;}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
  #footer {height: 120px;}
  #fehrenheitCelcius {width: 85px; height: 15px; position: absolute;
    left: 0px; top: 0px;}
}

@media screen and (min-width: 900px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
  #footer {height: 120px;}
  #row1 {height: 600px;margin-top: 30px;color:white;}
  #fehrenheitCelcius {width: 85px; height: 15px; position: absolute;
    left: 0px; top: 0px;}
  #fehrenheitCelcius button {background: none;}
  #addToFavorites {position: absolute;right: 0px;top: 0px;}
  #addToFavorites img{width: 50px;height: auto;}
  #cityBlock {position: absolute;top: 60px;}
  #cityName{text-align: center;font-size: 90px;margin: 0;}
  #temperture {text-align: center;font-size: 35px;margin: 10px 0 20px 0;}
  #cityBlock span{font-size: 20px;}
  #currentDate {float: right;}
  #weekReport {position: absolute;bottom: 20px;display: flex;
    justify-content: center;width: 100%;}
  .day {margin: 20px auto;width: 15%;min-height: 50px;display: inline-block;
      background-color: white;color: black;text-align: center;font-size: 25px;}
  .day p {margin: 5px 0 10px 0;}
  .day img {width: 65px;height: auto;}
  body.sunny {background-color: #2f9ace;}
  body.sunny #row1 {background-image: url(Assests/Backgrounds/SunnyBackground.jpg);}
  h1 {display: inline-block;margin-right: 60%;margin-left: 5%;}
}
#notAFavoriteCity, #aFavoriteCity {
  display: none;
}
#notAFavoriteCity.active, #aFavoriteCity.active {
  display: inline-block;
}
.showCelcius, .showFehrenheit {
  display: none;
}
.showCelcius.active, .showFehrenheit.active {
  display: inline;
}
#row1 {
  position: relative;
}
#fehrenheitCelcius {
  width: 50px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#addToFavorites {
  position: absolute;
  right: 0px;
  top: 0px;
}
#addToFavorites img{
  width: 20px;
  height: auto;
}
#cityBlock {
  top: 60px;
}
#cityName{
  text-align: center;
  font-size: 70px;
  margin: 0;
}
#temperture {
  text-align: center;
  font-size: 35px;
  margin: 10px 0 20px   0;
}
#cityBlock span{
  font-size: 20px;
}
#currentDate {
  float: right;
}
#weekReport {
  width: 100%;
}
.day {
  margin: 0 0 5px 0;
  width: 100%;
  min-height: 50px;
  display: flex;
  color: black;
  text-align: center;
  font-size: 25px;

}
.day p {
  flex-grow: 1;
}
.day img {
  width: 40px;
  height: auto;
}
#searchBar {
    margin-left: auto;
    margin: 20px;
}
#searchCities {
  border-radius: 50px;
  width: 75%;
}
#searchBar *{
  display: inline-block;
}
#footer {
    position: absolute;
    bottom: 0px;
}
img {
    width: 20px;
}
#header {
    display: flex;
}

#pageSelection {
    align-self: center;
    display: inline-block;
}
#weatherReport {
    width: 80%;
    margin: 0 auto;
}
#dayReport {
    width: 100%;
    height: 120px;
}




/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
